body {
    margin: 0;
    padding: 0;
    width: 100vw;
    font-family: 'Space Mono', monospace;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    background: #474747;
    color: #eef5db;
}

header {
    color:#474747;
    background-image: url("img/pic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

header > * {
    background: rgba(255, 255, 255, 0.4);
    width: 100%;
    text-align: center;
}

main {
    padding: 15px;
}

main ul {
    padding: 0;
    list-style-position: inside;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

main .titles {
    width: 80%;
    border-radius: 15px;
    font-size: 25px;
    padding: 15px;
    margin: 15px 0;
    cursor: pointer;
}

main .info {
    display: none;
    font-size: 15px;
}

.focus {
    text-decoration: none;
    background: rgba(255, 255, 255, 0.4);
}

footer {
    position: relative;
    bottom: 0;
    align-self: center;
}

@media all and (max-width: 725px) {
    header {
        background-image: url("img/pic_med.jpg");
    }
}

@media all and (max-width: 460px) {
    header {
        background-image: url("img/pic_min.jpg");
    }
}